.container{
	width: 960px;
	background-color: white;
	margin: auto;
	position: relative;
	margin-top:125px;
	z-index: 2;
}
.topbar{
	position: fixed;
	background-color: skyblue;
	width: 100%;
	height: 40px;
	top: 0;
	left: 0;
	border-bottom: 5px solid darkred;
	z-index: 999;
}
.wa{
	width: 70px;
	height: 70px;
	background-image: url(img/wa.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -20000px;
	position: absolute;
	top: 30px;
	right: 200px;
	bottom: -200px;
}
body{
	background-color: #cfcfcf;
	background-image: url(img/criss-cross.png);
}
.header h1{
	padding: 10px;
}
.header a{
	text-decoration: none;
	color: salmon;
	padding: 3px;
}
.header ul li{
	display: inline-block;
	padding-right: 10px;
	padding-bottom: 20px;
}
.header a:hover{
	background-color:lightskyblue ;
	color: white;
}
.hero{
	background-image: url(img/frog.jpg);
	height: 350px;
	margin-top: -40px;
	box-sizing: border-box;
	background-size: cover;
	background-position: 0 -70px;
	border: 5px solid skyblue;
	border-left: 5px solid skyblue;
	border-right: 5px solid salmon;
	border-bottom: 5px solid salmon;
	margin-top: -20px;
}
.main h2{
	margin-left: 20px;
	font-size: 28px;
	font-weight: bold;
	margin-top: -13px;
}
.main{
	padding: 20px;
	width: 600px;
	box-sizing: border-box;
	float: left;
}
.main .penulis{
	font-size: 14px;
	font-family: sans-serif;
	margin-top: -20px;
}
.main P{
	margin-right: 20px;
	margin-bottom: 10px;
}
/* side bar */

.sidebar{
	width: 300px;
	float: right;
	padding: 20px;
	margin-top: -30px;
}
.sidebar h3{
	margin-left: -60px;
	color: #666;
}
img{
	margin-left: -60px;
	width: 80px;
	height: 80px;
	float: left;
	padding-right: 20px;
}
.sidebar p{
	font-size: 14px;
	line-height: 18px;
	font-family: arial;
}
.main .penulis a{
	text-decoration: none;
	color: salmon;
}
.footer{
	background-color: #333;
	padding: 10px;
}
.footer .copy{
	text-align: center;
	color: #eaeaea;
	font-size: 12px;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}